<h1>Tasks</h1>
<%= link_to 'New', new_task_path , :class=>"btn btn-info icon-eye-open"%>
<table>
  <tr>
    <th>Title</th>    
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>  
  </tr>
<% end %>
</table>

<br />


