<center><h1>List of products</h1></center>

<div class='container'>
	<% @products.each do |product|%>
		<div class="details">
			<h2><%= link_to  product.name, home_sales_path(:id=>product)  %></h2>
				<h5>Price:
					<i><%= number_to_currency(product.price) %></i>
				</h5>
				<%= link_to "sale" , home_sales_path(:id=>product)  %>

		</div>
			<div class="img">
				<%= image_tag product.cover_image.url unless  product.cover_image.nil? %>
			</div>
			<hr>
	<% end %>


</div>