<center><h1>List of products</h1></center>

<div class='container'>
	<% @products.each do |product|%>
		<h2><%= product.name %></h2>
			<h5>Price:
				<i><%= number_to_currency(product.price) %></i>
			</h5>
			<hr>
	<% end %>
</div>