<center><h1>List of products</h1></center>

<div class='container'>
	<% @products.each do |product|%>
		<div class="details">
			<h2><%= product.name %></h2>
				<h5>Price:
					<i><%= number_to_currency(product.price) %></i>
				</h5>
		</div>
			<div class="img">
				<%= image_tag product.cover_image.url unless  product.cover_image.nil? %>
			</div>
			<hr>
	<% end %>
</div>